.leftdiv4{
    width: 45%;
    height: "100%";
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 3rem;
    
}
.rightdiv4{
    width: "60%";
    height: "100%";
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 20%;
    margin-top: 3rem;
}
.dickens{
    font-size: 2rem;
    font-weight: 700;
    color: white !important;
    margin-bottom: 0%;
    margin-top: 0%;
    
}
.maindiv4{
    background-color: black;
    width: "100%";
    height: "100%";
    display: flex;
    padding-bottom: 5rem;
}
.observer{
    margin-top: 0%;
    font-size: 1.2rem;
    font-weight: 700;
    color: white !important;

}
.main{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 1.5rem;
    font-weight: 700;
    color: white !important;

}
.sub{
    margin-top: 0%;
    font-size: 1.2rem;
    margin-bottom: 0%;
    font-weight: 700;
    color: white !important;

}